#ckan-embedded-form .buttons {
	display: inline-block;
}

#ckan-embedded-form .buttons:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#ckan-embedded-form .buttons {
	height: 1px;
}

#ckan-embedded-form .buttons img {
	vertical-align: baseline;
	float: none;
}

#ckan-embedded-form .buttons a, button {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background-color: #f0f0f0;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	font-size: 100%;
	line-height: 1.4;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px;
	background-image: url(/images/button-shadow.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#ckan-embedded-form button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px;
}

#ckan-embedded-form button[type] {
	padding: 5px 10px 5px 7px;
	line-height: 17px;
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px;
}

.buttons a.secondary, button.secondary {
	float: right;
}

#ckan-embedded-form button img, #ckan-embedded-form .buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

#ckan-embedded-form button:hover, #ckan-embedded-form .buttons a:hover {
	border: 1px solid #ccc;
	color: #333;
	background-color: #f0f0f0;
}

#ckan-embedded-form button:active, #ckan-embedded-form .buttons a:active {
	background-image: none;
	background-color: #888;
	border: 1px solid #444;
	/* override position indicator */
	color: #fff ! important; 
}

#ckan-embedded-form button.positive, #ckan-embedded-form .buttons a.positive {
	color: #529214;
}

#ckan-embedded-form .buttons a.positive:hover, #ckan-embedded-form button.positive:hover {
	background-image: none;
	background-color: #e6efc2;
	border: 1px solid #c6d880;
	color: #529214;
}

#ckan-embedded-form .buttons a.positive:active {
	background-image: none;
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* negative (cancel, delete) */

#ckan-embedded-form .buttons a.negative, #ckan-embedded-form button.negative {
	color: #d12f19;
}

#ckan-embedded-form .buttons a.negative:hover, #ckan-embedded-form button.negative:hover {
	background-image: none;
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

#ckan-embedded-form .buttons a.negative:active {
	background-image: none;
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}
