
#ckan-embedded-form fieldset {
  padding: 1em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }
 
#ckan-embedded-form legend {
  font-weight: bold;
  font-size: 1.2em; }
 
#ckan-embedded-form textarea, #ckan-embedded-form select,
#ckan-embedded-form input[type=text], #ckan-embedded-form input.text,
#ckan-embedded-form input[type=password], #ckan-embedded-form input.password,
#ckan-embedded-form input[type=email], #ckan-embedded-form input.email,
#ckan-embedded-form input[type=url], #ckan-embedded-form input.url {
  padding: 0.4em;
  width: 30em;
  margin: 0 0 0.5em 0;
  background: #fff;
  border: 1px solid #bbb; }
  #ckan-embedded-form textarea:focus, #ckan-embedded-form select:focus,
  #ckan-embedded-form input[type=text]:focus, #ckan-embedded-form input.text:focus,
 #ckan-embedded-form input[type=password]:focus, #ckan-embedded-form input.password:focus,
  #ckan-embedded-form input[type=email]:focus, #ckan-embedded-form input.email:focus,
  #ckan-embedded-form input[type=url]:focus, #ckan-embedded-form input.url:focus {
    border-color: #666; }
  textarea.has-errors, select.has-errors,
  textarea.fieldWithErrors, select.fieldWithErrors,
  input[type=text].has-errors, input.text.has-errors,
  input[type=text].fieldWithErrors, input.text.fieldWithErrors,
  input[type=password].has-errors, input.password.has-errors,
  input[type=password].fieldWithErrors, input.password.fieldWithErrors,
  input[type=email].has-errors, input.email.has-errors,
  input[type=email].fieldWithErrors, input.email.fieldWithErrors,
  input[type=url].has-errors, input.url.has-errors,
  input[type=url].fieldWithErrors, input.url.fieldWithErrors {
    border-color: #d12f19; }
  #ckan-embedded-form table textarea, #ckan-embedded-form table select,
  #ckan-embedded-form table input[type=text], #ckan-embedded-form table input.text,
  #ckan-embedded-form table input[type=password], #ckan-embedded-form table input.password,
  #ckan-embedded-form table input[type=email], #ckan-embedded-form table input.email,
  #ckan-embedded-form table input[type=url], #ckan-embedded-form table input.url {
    margin: 0; }
#ckan-embedded-form textarea.disabled, #ckan-embedded-form select.disabled,
#ckan-embedded-form input[type=text].disabled, #ckan-embedded-form input.text.disabled,
#ckan-embedded-form input[type=password].disabled, #ckan-embedded-form input.password.disabled,
#ckan-embedded-form input[type=email].disabled, #ckan-embedded-form input.email.disabled,
#ckan-embedded-form input[type=url].disabled, #ckan-embedded-form input.url.disabled {
  background: #eee;
  color: #888 }
  
#ckan-embedded-form input.title {
  font-size: 1.5em; }
#ckan-embedded-form input.short {
  width: 5em; }
#ckan-embedded-form input.medium-width {
  width: 14.5em; }
#ckan-embedded-form input.long {
  width: 38em; }
 
#ckan-embedded-form select.short { 
  width: 14.5em; }

#ckan-embedded-form textarea {
  width: 30em;
  height: 15em; }
#ckan-embedded-form textarea.short {
    height: 1em; }
#ckan-embedded-form textarea.wide {
    width: 62.5em;
    height: 1em; }
 
#ckan-embedded-form select[multiple], #ckan-embedded-form select.multiple {
  padding: 0;
  height: 10em; }
 
#ckan-embedded-form form dl {
  *display: inline-block;
  clear: left;
  width: 100%;
  background: transparent url(images/dlbg.png) repeat-y 21% top;
  padding: 0.5em 0; }
  #ckan-embedded-form form dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #ckan-embedded-form form dl dt {
    width: 20%;
    margin: 1em 0 0 0;
    float: left;
    clear: right;
    text-align: right; }
    #ckan-embedded-form form dl dt:first-child, #ckan-embedded-form form dl dt:first-child + dd {
      margin-top: 0em; }
  #ckan-embedded-form form dl dd {
    float: right;
    min-height: 1.5em;
    width: 78%;
    margin: 0 0 0 2%; }
  #ckan-embedded-form form dl dt + dd {
    margin-top: 1em; }
  #ckan-embedded-form form dl dt, form dl dd {
    font-size: 1em;
    line-height: 1.5em; }
  * html form dl {
    height: 1px; }
  #ckan-embedded-form form dl dd img {
    vertical-align: middle; }
  #ckan-embedded-form form dl dd ul {
    margin: 0.5em 0 0 0;
    padding: 0; }
  #ckan-embedded-form form dl dd.notes, #ckan-embedded-form form dl dd.hints {
    padding: 0 0 0.3em 0;
    color: #555; }
 
label.has-errors, label.fieldWithErrors {
  font-weight: bold;
  color: #d12f19; }

label { 
  display: block; }
 
form .field_error, form .error-explanation {
  display: none; }
form.has-errors .field_error, form.has-errors .error-explanation {
  display: block; }
 
.field_error {
  color: #d12f19;
  left: 20px;
  padding-left: 20px;
  position: relative;
  background: transparent url(images/error.png) left 3px no-repeat; }
 
.error-explanation,
#errorExplanation {
  background: #fff;
  border: 1px solid #d12f19;
  margin-bottom: 1em;
  clear: left; }
  .error-explanation h2,
  #errorExplanation h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 1em;
    line-height: 2.6em;
    background: #d12f19;
    color: #fff; }
  .error-explanation ul, .error-explanation p,
  #errorExplanation ul, #errorExplanation p {
    margin: 0.5em 1em; }
  .error-explanation ul,
  #errorExplanation ul {
    margin-left: 2em; }
 
.taglist {
  margin-top: 0; }
  .taglist li {
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    margin: 0 0.3em 0 0;
    padding: 0 0.5em;
    background: #395ee8;
    font-weight: bold;
    color: white;
    display: inline;
    float: left;
    line-height: 16px; }
    .taglist li img {
      opacity: 0.5; }
    .taglist li img:hover {
      opacity: 1; }