/* Need CKAN form to have form class="ckan package_create" as the class name */
#ckan-embedded-form fieldset span.as_hyperlink {
  text-decoration: underline;
  color: blue;
  cursor: pointer; 
}
#ckan-embedded-form button.addRow {
    float: right;
}
#ckan-embedded-form p.flexitable button.addRow {
    height: 28px;
}
#ckan-embedded-form table.flexitable th {
    font-weight: bold;
    background: #ccc;
}
#ckan-embedded-form input.url, #ckan-embedded-form input[type=url] {
    border:1px solid #A2A2A2;
    padding:5px;
}
#ckan-embedded-form div.controls {
    width: 110px;
}
#ckan-embedded-form fieldset {
    margin-top: 20px;
} 
#ckan-embedded-form legend {
    background:none repeat scroll 0 0 #3B393F;
    color:#FFFFFF;
    font-size:1.2em;
    line-height:1.231em;
    margin: 0px 0 0 0;
    padding: 8px 15px;
    font-family:Helvetica,Arial,sans-serif;
    font-weight:bold;
    width: 752px;
}
#ckan-embedded-form table.flexitable {
    width: 757px;
    margin-left: 10px;
    border: 0;
    background: transparent;
    margin-top: 20px
}
#ckan-embedded-form table.flexitable td, #ckan-embedded-form table.flexitable th{
    background: transparent;
    color: #000;
    border: none;
    padding: 0px;
}
#ckan-embedded-form table.flexitable td {
    padding-top: 5px;
}
#ckan-embedded-form table.flexitable th{
    padding-bottom: 3px;
}
#ckan-embedded-form p.flexitable {
    width: 780px;
}
#ckan-embedded-form dd {
    margin-bottom: 0;
}

#ckan-embedded-form label {
    padding-top: 20px;
}
#ckan-embedded-form dl {
    padding-left: 10px;
}
#ckan-embedded-form label[for="Package--geographic_coverage-global"],#ckan-embedded-form label[for="Package--geographic_coverage-overseas"], #ckan-embedded-form label[for="Package--geographic_coverage-northern_ireland"], #ckan-embedded-form label[for="Package--geographic_coverage-scotland"], #ckan-embedded-form label[for="Package--geographic_coverage-wales"] {
    padding-top: 0px;
}

.tags a.active {
  background: #2B69C6;
  color: #fff;
  text-decoration: none;
  padding: 0.2em;
  margin: 0 0.2em;
}